@model MyBlog.Entities.Note

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row">
        <h2>Not Detayları</h2>
    </div>
    <div class="row">
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Category.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Text)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Text)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsDraft)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsDraft)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LikeCount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LikeCount)
                </dd>

            </dl>
        </div>
        <p>
            @MyBootStrap.LinkButton("notebtn1", "/Note/Edit/" + Model.Id, "success", "btn-sm", "Edit", "edit", " Düzenle")
            @MyBootStrap.LinkButton("/Note/Index", "warning", "btn-sm", "Geri Dön", "hand-left", " Geri Dön")
        </p>
    </div>
</div>
